.container-centered {
    resize: both;
    overflow: auto;
    padding-left: 116px;
    padding-right: 116px;
}

.navbar {
    top:0;
    left: 0;
    background-color: black;
    width: 100%;   
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar h1 {
    color: white;
}


.banner-image-text {
 display: flex; 
 justify-content: space-between ;  
 height: 480px;
 overflow: hidden;
 background-color: grey;
width: auto;
}



.banner-text{
    color:black;
    object-fit: cover;
    top: 82px;
}

.banner-image-text img {
    left: 64%;
   }

