.header {
 position: fixed;
 top:0;
 left: 0;
 width: 100%;
 background-color: black;   
 height: 5rem;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.header h1 {
    color: white;
}


.main-image {
 width: 100%;
 height: 30rem;
 overflow: hidden;
 z-index: 0;
 padding-top: 81px;
 background-color: grey;
}

.main-image img {
    position: fixed;
    height: 30rem;
    left: 80%;
    object-fit: none;
   }

.banner-text{
    position: fixed;
    color:black;
    object-fit: cover;
}