.navbar {
    display: flex;
    flex-direction: row;
}

.list-navbar {
    display: flex;
    color:#5073FC;
    
    list-style: none;   
}

.list-navbar li {
    margin: 10px;
}

.button-navbar {
    
    height: 37px;
    margin-top: 17px;
    margin-left: auto;
    background-color:  rgb(190, 225, 255);
    border: 1px solid #5073FC;
    color: #5073FC;
    border-radius: 6px;
}

