.card {
    padding-inline: 5%;
    background-color: rgb(190, 225, 255);
}





/* .banner-image-text {
    display: flex; 
    justify-content: space-between ;  
    height: 480px;
    overflow: hidden;
    background-color: white;
   width: auto;
   } */

/* mettre tous les trucs en commun entre header et */ 

